body {
  font-family: 'Roboto', sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.ant-layout {
  min-height: 100vh;
}

/* login */
.login-container {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.login-body {
  box-shadow: 10px 100px 30px rgb(80 87 99 / 5%), 0 0 50px rgb(80 87 99 / 10%);
  border-radius: 20px;
  background-color: #ffffff;
  width: 375px;
}

.login-container .button {
  background-color: rgb(24 144 255);
  border-radius: 6px;
  cursor: pointer;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  max-width: fit-content;
}

/* login end */
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.logo {
  margin: 0;
  height: 64px;
}

main::-webkit-scrollbar {
  width: 0px;
}

main {
  height: 85vh;
  overflow-y: scroll;
  background-color: transparent !important;
}

.ant-menu-title-content {
  font-size: 16px;
}

.ant-layout-header h5 {
  line-height: 30px;
  font-size: 14px;
}

.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}

.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}

.error {
  color: red;
  font-size: 12px;
}